[submodule "BaseMod"]
	path = Mods/BaseMod
	url = git@github.com:daviscook477/BaseMod.git
[submodule "StSLib"]
	path = StSLib
	url = git@github.com:kiooeht/StSLib.git
[submodule "ModTheSpire"]
	path = Mods/ModTheSpire
	url = git@github.com:kiooeht/ModTheSpire.git
[submodule "KeyCuts"]
	path = Mods/KeyCuts
	url = git@github.com:daviscook477/KeyCuts.git
[submodule "Mods/StSLib"]
	path = Mods/StSLib
	url = git@github.com:kiooeht/StSLib.git
[submodule "Mods/CommunicationMod"]
	path = Mods/CommunicationMod
	url = git@github.com:ForgottenArbiter/CommunicationMod.git
[submodule "Mods/spirecomm"]
	path = Mods/spirecomm
	url = git@github.com:ForgottenArbiter/spirecomm.git
